<!doctype html>
<html lang="en" ng-app="TTRApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="Calculator 1">
    <link rel="icon" href="images/favicon.ico">
    <title>Private School Fee Comparison Calculator</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="bower_components/angularPrint/angularPrint.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body print-section ng-cloak>
    <div class="otrp-calculator container-fluid " ng-controller="TTRController">
        <div class=" row title ">
            <div class="col-xs-8 col-sm-9 col-lg-9">
                <h1>Salary Sacrifice Optimisation</h1>
            </div>
            <div print-hide class=" button-wrapper col-xs-4 col-sm-3 col-md-3">
                <button type="button" class="buttons button print-icon" onclick="window.print()"></button>
                <button type="button" class="buttons button save-button" id="download" title="Save as PDF" role="button" aria-controls="email-overlay"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                <button type="button" class="buttons button info-icon" ng-click="infoShow(true)" title="Information"></button>
            </div>
        </div>
        <div class="row content">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="row input-div">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="row title-div">
                            <span class="number-wrapper">1</span>
                            <span class="title-wrapper">Your Details</span>
                            <div class="otrp-clear"></div>
                        </div>
                        <form name="ttrForm" class="ttr-form" novalidate ng-submit="submitForm(ttrForm.$valid)">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Beginning of the year of investment
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="begnYearInvestmentInput" name="begnYearInvestmentInput" ng-model="begnYearInvestment">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <!-- <label></label> -->
                                            <div id="begnYearInvestmentSlider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                    Which state are you living in?
                                    <select class="selectpickerSingle selectpicker">
                                        <option ng-repeat="x in stateListOb" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                    Which portfolio you want to invest the money in?
                                    <select class="selectpickerSingle selectpicker">
                                        <option ng-repeat="x in portfolioListOb" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Number of Financially Dependent Children
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="numChildrenInput" name="numChildrenInput" ng-model="numChildren">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group">
                                            <div id="numChildrenSlider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile" ng-class="{optionDrop: (!showPortfolioOption)}">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Define your own investment return if you choose your own model?
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <!-- <label for="ageInput">Your Age</label> -->
                                                <input type="text" onClick="this.select();" class="form-control" id="investmentReturnInput" name="investmentReturnInput" ng-model="investmentReturn">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <!-- <label></label> -->
                                            <div id="investmentReturnSlider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Define you own investment volatility if you choose your own model?
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <!-- <label for="ageInput">Your Age</label> -->
                                                <input type="text" onClick="this.select();" class="form-control" id="investmentVolatilityInput" name="investmentVolatilityInput" ng-model="investmentVolatility">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <!-- <label></label> -->
                                            <div id="investmentVolatilitySlider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="children-hr h1">
                            <div class="c1">
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    First Child Name
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <!-- <label for="ageInput">Your Age</label> -->
                                                <input type="text" onClick="this.select();" class="form-control" id="c1NameInput" name="c1NameInput" ng-model="c1Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                Is he/she currently studying?
                                    <div class="row">
                                            <button class="option-l-btn btn btn-primary " ng-click="studyingOption1Change(true)" ng-disabled="studyingOption1">Yes</button>
                                            <button class="option-r-btn btn btn-primary " ng-click="studyingOption1Change(false)" ng-disabled="!studyingOption1">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading" ng-hide="studyingOption1">
                                    From which year he is/will be attending school?
                                    <div class="row attend-margin">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="schoolYear1Input" name="schoolYear1Input" ng-model="schoolYear1">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="schoolYear1Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    How many years he is going to study at the school (before Uni)?
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="schoolDuration1Input" name="schoolDuration1Input" ng-model="schoolDuration1">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="schoolDuration1Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                    Which School is he/she attending?
                                    <select class="selectpickerSingle selectpicker">
                                        <option ng-repeat="x in schoolObjects" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                            <hr class="children-hr h2">
                            <div class="c2">
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Second Child Name
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="c2NameInput" name="c2NameInput" ng-model="c2Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                Is he/she currently studying?
                                    <div class="row">
                                            <button class="option-l-btn btn btn-primary " ng-click="studyingOption2Change(true)" ng-disabled="studyingOption2">Yes</button>
                                            <button class="option-r-btn btn btn-primary " ng-click="studyingOption2Change(false)" ng-disabled="!studyingOption2">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading" ng-hide="studyingOption2">
                                    From which year he is/will be attending school?
                                    <div class="row attend-margin">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="schoolYear2Input" name="schoolYear2Input" ng-model="schoolYear2">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="schoolYear2Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    How many years he is going to study at the school (before Uni)?
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="schoolDuration2Input" name="schoolDuration2Input" ng-model="schoolDuration2">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="schoolDuration2Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                    Which School is he/she attending?
                                    <select class="selectpickerSingle selectpicker">
                                        <option ng-repeat="x in schoolObjects" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                            </div>

                            <hr class="children-hr h3">
                            <div class="c3">
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Third Child Name
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="c3NameInput" name="c3NameInput" ng-model="c3Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                Is he/she currently studying?
                                    <div class="row">
                                            <button class="option-l-btn btn btn-primary " ng-click="studyingOption3Change(true)" ng-disabled="studyingOption3">Yes</button>
                                            <button class="option-r-btn btn btn-primary " ng-click="studyingOption3Change(false)" ng-disabled="!studyingOption3">No</button>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading" ng-hide="studyingOption3">
                                    From which year he is/will be attending school?
                                    <div class="row attend-margin">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="schoolYear3Input" name="schoolYear3Input" ng-model="schoolYear3">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="schoolYear3Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    How many years he is going to study at the school (before Uni)?
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="schoolDuration3Input" name="schoolDuration3Input" ng-model="schoolDuration3">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="schoolDuration3Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                    Which School is he/she attending?
                                    <select class="selectpickerSingle selectpicker">
                                        <option ng-repeat="x in schoolObjects" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                            <hr class="children-hr h4">
                            <div class="c4">
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Fourth Child Name
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="c4NameInput" name="c4NameInput" ng-model="c4Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                Is he/she currently studying?
                                    <div class="row">
                                            <button class="option-l-btn btn btn-primary " ng-click="studyingOption4Change(true)" ng-disabled="studyingOption4">Yes</button>
                                            <button class="option-r-btn btn btn-primary " ng-click="studyingOption4Change(false)" ng-disabled="!studyingOption4">No</button>
                                    
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading" ng-hide="studyingOption4">
                                    From which year he is/will be attending school?
                                    <div class="row attend-margin">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="schoolYear4Input" name="schoolYear4Input" ng-model="schoolYear4">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="schoolYear4Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    How many years he is going to study at the school (before Uni)?
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="schoolDuration4Input" name="schoolDuration4Input" ng-model="schoolDuration4">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="schoolDuration4Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                    Which School is he/she attending?
                                    <select class="selectpickerSingle selectpicker">
                                        <option ng-repeat="x in schoolObjects" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                            <hr class="children-hr h5">
                            <div class="c5">
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Fifth Child Name
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="c5NameInput" name="c5NameInput" ng-model="c5Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                Is he/she currently studying?
                                    <div class="row">
                                            <button class="option-l-btn btn btn-primary " ng-click="studyingOption5Change(true)" ng-disabled="studyingOption5">Yes</button>
                                            <button class="option-r-btn btn btn-primary " ng-click="studyingOption5Change(false)" ng-disabled="!studyingOption5">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading" ng-hide="studyingOption5">
                                    From which year he is/will be attending school?
                                    <div class="row attend-margin">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="schoolYear5Input" name="schoolYear5Input" ng-model="schoolYear5">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="schoolYear5Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    How many years he is going to study at the school (before Uni)?
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="schoolDuration5Input" name="schoolDuration5Input" ng-model="schoolDuration5">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="schoolDuration5Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                    Which School is he/she attending?
                                    <select class="selectpickerSingle selectpicker">
                                        <option ng-repeat="x in schoolObjects" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                            <hr class="children-hr h6">
                            <div class="c6">
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Sixth Child Name
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="form-group">
                                                <!-- <label for="ageInput">Your Age</label> -->
                                                <input type="text" onClick="this.select();" class="form-control" id="c6NameInput" name="c6NameInput" ng-model="c6Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                Is he/she currently studying?
                                    <div class="row">
                                            <button class="option-l-btn btn btn-primary " ng-click="studyingOption6Change(true)" ng-disabled="studyingOption6">Yes</button>
                                            <button class="option-r-btn btn btn-primary " ng-click="studyingOption6Change(false)" ng-disabled="!studyingOption6">No</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading" ng-hide="studyingOption6">
                                    From which year he is/will be attending school?
                                    <div class="row attend-margin">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="schoolYear6Input" name="schoolYear6Input" ng-model="schoolYear6">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="schoolYear6Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    How many years he is going to study at the school (before Uni)?
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="schoolDuration6Input" name="schoolDuration6Input" ng-model="schoolDuration6">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="schoolDuration6Slider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                    Which School is he/she attending?
                                    <select class="selectpickerSingle selectpicker">
                                        <option ng-repeat="x in schoolObjects" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row result-head">
                    <h3 class="results-title">Your Results</h3>
                </div>
                <div class="row result-div">
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <div class="row chart-buttons-row" print-remove>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <button class="btn btn-primary" ng-click="chartOneOpen = true" title="bar chart description" ng-disabled="chartOneOpen"><i class="fa fa-bar-chart"></i></button>
                                <button class="btn btn-primary" ng-click="chartOneOpen = false" title="pie chart description" ng-disabled="!chartOneOpen"><i class="fa fa-pie-chart"></i></button>
                                <button class="btn btn-primary print-dup" print-remove onclick="window.print()" style="float:right">
                                    Print Result
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" id="chartBox">
                                <div id="container" ng-show="chartOneOpen" style="margin:0 auto;width: 327px; height: 365px;" ng-class="{largeWidth: needSS}"></div>
                                <div id="donutContainer" ng-hide="chartOneOpen" style="margin:0 auto;width: 327px; height: 365px; " ng-class="{largeWidth: needSS}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <div class="row res-2">
                            <div class="col-xs-12">
                                <div class="row res-head"><strong>Your take home money</strong></div>
                                <div class="row">
                                    <div class="col-xs-6">Without Salary Sacrifice</div>
                                    <div class="col-xs-6 res-value">{{ resultWithoutSS[0] | currency }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">With Salary Sacrifice</div>
                                    <div class="col-xs-6 res-value">{{ resultWithSS[0] | currency }}</div>
                                </div>
                                <div class="row divider"></div>
                                <div class="row res-head"><strong>Total tax paid</strong></div>
                                <div class="row">
                                    <div class="col-xs-6">Without Salary Sacrifice</div>
                                    <div class="col-xs-6 res-value">{{ resultWithoutSS[1] | currency }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">With Salary Sacrifice</div>
                                    <div class="col-xs-6 res-value">{{ resultWithSS[1] | currency }}</div>
                                </div>
                                <div class="row divider">
                                </div>
                                <div class="row res-head"><strong>Final amount</strong></div>
                                <div class="row">
                                    <div class="col-xs-6">Without Salary Sacrifice</div>
                                    <div class="col-xs-6 res-value">{{ resultWithoutSS[2] | currency }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">With Salary Sacrifice</div>
                                    <div class="col-xs-6 res-value">{{ resultWithSS[2] | currency }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row res-1">
                            <div class="col-xs-12">
                                <div class="row"><strong>Final Result</strong></div>
                                <div class="row dd" ng-show="needSS">
                                    <div class="col-xs-8 col-sm-12 res-head">With Salary Sacrifice,you save</div>
                                    <div class="col-xs-4 col-sm-12 res-value">{{ resultWithSS[2] -resultWithoutSS[2] | currency }}</div>
                                </div>
                                <div class="row dd" ng-show="!needSS">
                                    <div class="col-xs-8 col-sm-12 res-head">Without Salary Sacrifice,you save</div>
                                    <div class="col-xs-4 col-sm-12 res-value">{{ resultWithoutSS[2] -resultWithSS[2] | currency }}</div>
                                </div>
                                <div class="row dd" ng-show="needSS">
                                    <div class="col-xs-8 col-sm-12 res-head">Salary Sacrifice Amount</div>
                                    <div class="col-xs-4 col-sm-12 res-value">{{optimisedSS | currency}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row cta" print-remove>
                    <div class="col-xs-12">
                        <p>Need to know more <a class="btn btn-default get-in-touch">Get in touch</a></p>
                    </div>
                </div>
                <div class="row disclaimer">
                    <span class="calculator-disclaimer">Information provided by Financial Choice Pty Ltd is general financial advice only. General advice is defined under the new regulations to include information about financial products and financial markets and our current views and outlook for those products and markets. The general advice we provide includes the information you have requested from us directly or via our web site.</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <img src="images/client-logo.png" class="comp-logo" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row information-overlay" print-hide>
            <div class="col-xs-12 col-sm-12 col-lg-12 ">
                <div class="row info-title">
                    <div class="col-xs-9 col-sm-9 col-lg-9">
                        <h2>Calculator Information</h2>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-lg-3">
                        <button type="button" class="closeInfo" ng-click="infoShow(false)"></button>
                    </div>
                </div>
                <hr class="submit-hr" />
                <div class="row info-content">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <ol>
                            <li>
                                Salary indicated here does not include superannuation guarantee contribution, fringe benefit or non-standard agreed employment benefit, and is the salary before any salary sacrifice.
                            </li>
                            <li>
                                SGC will gradually increase to 12.00% in the future
                            </li>
                            <li>
                                It is assumed that the superannuation balance is boosted up by the net concessional contribution in the financial year.
                            </li>
                            <li>
                                This calculator takes into the consideration of both the personal tax and concessional contribution tax charged from the super.
                            </li>
                            <li>
                                Divison 293 tax reduces the tax benefit on low tax contributions (also referred to as concessional contributions) of very high income earners. It was legislated in June 2013 and backdated to July 2012.
                            </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="js/ui-bootstrap-tpls-1.3.3.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controller.js" type="text/javascript"></script>
    <script src="js/AgeCalculatorService.js" type="text/javascript"></script>
    <script src="js/TaxRateCalculatorService.js" type="text/javascript"></script>
    <script src="js/SGCRateCalculator.js" type="text/javascript"></script>
    <script src="js/WithoutSSCalculatorService.js" type="text/javascript"></script>
    <script src="js/WithSSCalculatorService.js" type="text/javascript"></script>
    <script src="js/nouislider.min.js" type="text/javascript"></script>
    <script src="js/wNumb.js" type="text/javascript"></script>
    <script src="bower_components/angularPrint/angularPrint.js" type="text/javascript"></script>
    <script src="js/hc/highcharts.js" type="text/javascript"></script>
    <script src="js/hc/data.js" type="text/javascript"></script>
    <script src="js/hc/exporting.js" type="text/javascript"></script>
    <script src="js/hc/sand-signika.js" type="text/javascript"></script>
    <script src="js/hc/donutChartService.js" type="text/javascript"></script>
    <script src="js/hc/chartService.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta1/html2canvas.js"></script>
    <script src="js/rgbcolor.js" type="text/javascript"></script>
    <script src="js/StackBlur.js" type="text/javascript"></script>
    <script src="js/canvg.min.js" type="text/javascript"></script>
    <script src="js/PdfMaker.js" type="text/javascript"></script>
</body>

</html>
