<!doctype html>
<html lang="en" ng-app="TTRApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="Calculator 1">
    <link rel="icon" href="images/favicon.ico">
    <title>Private School Fee Comparison Calculator</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="bower_components/angularPrint/angularPrint.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>

<body print-section ng-cloak>
    <div class="otrp-calculator container-fluid " ng-controller="TTRController">
        <div class=" row title ">
            <div class="col-xs-8 col-sm-9 col-lg-9">
                <h1>Private School Fee Comparison Calculator</h1>
            </div>
            <div print-hide class=" button-wrapper col-xs-4 col-sm-3 col-md-3">
                <button type="button" class="buttons button print-icon print-doc"></button>
                <button type="button" class="buttons button save-button" id="download" title="Save as PDF" role="button" aria-controls="email-overlay"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                <button type="button" class="buttons button info-icon" ng-click="infoShow(true)" title="Information"></button>
            </div>
        </div>
        <div class="row content">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="row input-div">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="row title-div">
                            <span class="number-wrapper">1</span>
                            <span class="title-wrapper">Your Details</span>
                            <div class="otrp-clear"></div>
                        </div>
                        <form name="forms.ttrForm" class="ttr-form" novalidate ng-submit="calculate(forms.ttrForm.$valid)">
                            <div class="row first-row-mobile">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="first-name">First Name *</label>
                                        <input type="text" class="form-control" ng-model="personalDetails.firstName" name="firstName" id="first-name" ng-pattern="/^[a-zA-Z\s]*$/" onClick="this.select();" required>
                                        <p class="err-msg" ng-show="!forms.ttrForm.firstName.$pristine && forms.ttrForm.firstName.$invalid">Please provide a valid first name.</p>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="last-name">Last Name *</label>
                                        <input type="text" name="lastName" ng-model="personalDetails.lastName" class="form-control" id="last-name" ng-pattern="/^[a-zA-Z\s]*$/" onClick="this.select();" required>
                                        <p class="err-msg" ng-show="(!forms.ttrForm.lastName.$pristine && forms.ttrForm.lastName.$invalid)">Please provide a valid last name.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="email">Email Address *</label>
                                        <input type="email" name="email" ng-model="personalDetails.email" class="form-control" id="email" onClick="this.select();" required>
                                        <p class="err-msg" ng-show="(!forms.ttrForm.email.$pristine && forms.ttrForm.email.$invalid)">Enter a valid email address</p>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="mobile-number">Mobile Number *</label>
                                        <input type="number" name="mobile" ng-model="personalDetails.mobile" class="form-control mob-input" id="mobile-number" required onClick="this.select();" ng-pattern="/^(04)\d{8}$/g">
                                        <p class="err-msg" ng-show="(!forms.ttrForm.mobile.$pristine && forms.ttrForm.mobile.$invalid)">Enter a valid mobile number</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <!-- <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <textarea class="form-control" name="address" ng-model="personalDetails.address" id="address"></textarea>
                                    </div>
                                </div> -->
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="postal-code">Postal Code</label>
                                        <input type="number" name="postalCode" ng-model="personalDetails.postalCode" class="form-control postal-code" id="postal-code" ng-minlength="4" ng-maxlength="4" onClick="this.select();">
                                        <p class="err-msg" ng-show="!forms.ttrForm.postalCode.$pristine &&forms.ttrForm.postalCode.$invalid">Enter a valid 4-Digit postal code</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Beginning of the year of analysis
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="begnYearInvestmentInput" name="begnYearInvestmentInput" ng-model="begnYearInvestment">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <!-- <label></label> -->
                                            <div id="begnYearInvestmentSlider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                    Which state are you living in?
                                    <select class="selectpickerSingle selectpicker spState">
                                        <option ng-repeat="x in stateListOb" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    Number of Financially Dependent Children
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="numChildrenInput" name="numChildrenInput" ng-model="numChildren">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group">
                                            <div id="numChildrenSlider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading">
                                    From which year your are going to contribute into the portfolio?
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <input type="text" onClick="this.select();" class="form-control" id="contStartYearInput" name="contStartYearInput" ng-model="contStartYear">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <div id="contStartYearSlider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                    Which portfolio you want to invest the money in?
                                    <select class="selectpickerSingle selectpicker spPort">
                                        <option ng-repeat="x in portfolioListOb" value="{{x.id}}">{{x.name}}</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-6 form-heading" ng-class="{optionDrop: (!showPortfolioOption)}">
                                    Define your own investment return if you choose your own model?
                                    <div class="row">
                                        <div class="col-xs-4 col-sm-4">
                                            <div class="form-group">
                                                <!-- <label for="ageInput">Your Age</label> -->
                                                <input type="text" onClick="this.select();" class="form-control" id="investmentReturnInput" name="investmentReturnInput" ng-model="investmentReturn">
                                            </div>
                                        </div>
                                        <div class="col-xs-8 col-sm-8 form-group slider-common">
                                            <!-- <label></label> -->
                                            <div id="investmentReturnSlider" style="margin-top:8px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row second-row-mobile">
                                
                            </div>
                            <hr class="children-hr h1">
                            <div class="c1">
                                <div class="row first-row-mobile">
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        First Child Name
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="form-group">
                                                    <!-- <label for="ageInput">Your Age</label> -->
                                                    <input type="text" onClick="this.select();" class="form-control" id="c1NameInput" name="c1NameInput" ng-model="c1Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        Is your child currently studying?
                                        <div class="row">
                                            <button class="option-l-btn btn  " ng-click="studyingOption1Change(true)" ng-disabled="studyingOption1">Yes</button>
                                            <button class="option-r-btn btn  " ng-click="studyingOption1Change(false)" ng-disabled="!studyingOption1">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row second-row-mobile">
                                    <div class="col-xs-12 col-sm-6 form-heading" ng-hide="studyingOption1">
                                        From which year your child will be attending school?
                                        <div class="row attend-margin">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="schoolYear1Input" name="schoolYear1Input" ng-model="schoolYear1">
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                <div id="schoolYear1Slider" style="margin-top:8px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        How many years your child is going to study at the school (before University)?
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="schoolDuration1Input" name="schoolDuration1Input" ng-model="schoolDuration1">
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                <div id="schoolDuration1Slider" style="margin-top:8px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row second-row-mobile">
                                    <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                        Which School is your child attending?
                                        <select class="selectpickerSingle selectpicker sp1">
                                            <option ng-repeat="x in schoolObjects" value="{{x.id}}">{{x.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr class="children-hr h2">
                            <div class="c2">
                                <div class="row first-row-mobile">
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        Second Child Name
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="c2NameInput" name="c2NameInput" ng-model="c2Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        Is your child currently studying?
                                        <div class="row">
                                            <button class="option-l-btn btn  " ng-click="studyingOption2Change(true)" ng-disabled="studyingOption2">Yes</button>
                                            <button class="option-r-btn btn  " ng-click="studyingOption2Change(false)" ng-disabled="!studyingOption2">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row second-row-mobile">
                                    <div class="col-xs-12 col-sm-6 form-heading" ng-hide="studyingOption2">
                                        From which year your child will be attending school?
                                        <div class="row attend-margin">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="schoolYear2Input" name="schoolYear2Input" ng-model="schoolYear2">
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                <div id="schoolYear2Slider" style="margin-top:8px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        How many years your child is going to study at the school (before University)?
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="schoolDuration2Input" name="schoolDuration2Input" ng-model="schoolDuration2">
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                <div id="schoolDuration2Slider" style="margin-top:8px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row second-row-mobile">
                                    <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                        Which School is your child attending?
                                        <select class="selectpickerSingle selectpicker sp2">
                                            <option ng-repeat="x in schoolObjects" value="{{x.id}}">{{x.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr class="children-hr h3">
                            <div class="c3">
                                <div class="row first-row-mobile">
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        Third Child Name
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="c3NameInput" name="c3NameInput" ng-model="c3Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        Is your child currently studying?
                                        <div class="row">
                                            <button class="option-l-btn btn  " ng-click="studyingOption3Change(true)" ng-disabled="studyingOption3">Yes</button>
                                            <button class="option-r-btn btn  " ng-click="studyingOption3Change(false)" ng-disabled="!studyingOption3">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row second-row-mobile">
                                    <div class="col-xs-12 col-sm-6 form-heading" ng-hide="studyingOption3">
                                        From which year your child will be attending school?
                                        <div class="row attend-margin">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="schoolYear3Input" name="schoolYear3Input" ng-model="schoolYear3">
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                <div id="schoolYear3Slider" style="margin-top:8px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        How many years your child is going to study at the school (before University)?
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="schoolDuration3Input" name="schoolDuration3Input" ng-model="schoolDuration3">
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                <div id="schoolDuration3Slider" style="margin-top:8px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row second-row-mobile">
                                    <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                        Which School is your child attending?
                                        <select class="selectpickerSingle selectpicker sp3">
                                            <option ng-repeat="x in schoolObjects" value="{{x.id}}">{{x.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr class="children-hr h4">
                            <div class="c4">
                                <div class="row first-row-mobile">
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        Fourth Child Name
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="c4NameInput" name="c4NameInput" ng-model="c4Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        Is your child currently studying?
                                        <div class="row">
                                            <button class="option-l-btn btn  " ng-click="studyingOption4Change(true)" ng-disabled="studyingOption4">Yes</button>
                                            <button class="option-r-btn btn  " ng-click="studyingOption4Change(false)" ng-disabled="!studyingOption4">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row second-row-mobile">
                                    <div class="col-xs-12 col-sm-6 form-heading" ng-hide="studyingOption4">
                                        From which year your child will be attending school?
                                        <div class="row attend-margin">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="schoolYear4Input" name="schoolYear4Input" ng-model="schoolYear4">
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                <div id="schoolYear4Slider" style="margin-top:8px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        How many years your child is going to study at the school (before University)?
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="schoolDuration4Input" name="schoolDuration4Input" ng-model="schoolDuration4">
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                <div id="schoolDuration4Slider" style="margin-top:8px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row second-row-mobile">
                                    <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                        Which School is your child attending?
                                        <select class="selectpickerSingle selectpicker sp4">
                                            <option ng-repeat="x in schoolObjects" value="{{x.id}}">{{x.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr class="children-hr h5">
                            <div class="c5">
                                <div class="row first-row-mobile">
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        Fifth Child Name
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="c5NameInput" name="c5NameInput" ng-model="c5Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        Is your child currently studying?
                                        <div class="row">
                                            <button class="option-l-btn btn  " ng-click="studyingOption5Change(true)" ng-disabled="studyingOption5">Yes</button>
                                            <button class="option-r-btn btn  " ng-click="studyingOption5Change(false)" ng-disabled="!studyingOption5">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row second-row-mobile">
                                    <div class="col-xs-12 col-sm-6 form-heading" ng-hide="studyingOption5">
                                        From which year your child will be attending school?
                                        <div class="row attend-margin">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="schoolYear5Input" name="schoolYear5Input" ng-model="schoolYear5">
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                <div id="schoolYear5Slider" style="margin-top:8px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        How many years your child is going to study at the school (before University)?
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="schoolDuration5Input" name="schoolDuration5Input" ng-model="schoolDuration5">
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                <div id="schoolDuration5Slider" style="margin-top:8px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row second-row-mobile">
                                    <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                        Which School is your child attending?
                                        <select class="selectpickerSingle selectpicker sp5">
                                            <option ng-repeat="x in schoolObjects" value="{{x.id}}">{{x.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr class="children-hr h6">
                            <div class="c6">
                                <div class="row first-row-mobile">
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        Sixth Child Name
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="form-group">
                                                    <!-- <label for="ageInput">Your Age</label> -->
                                                    <input type="text" onClick="this.select();" class="form-control" id="c6NameInput" name="c6NameInput" ng-model="c6Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        Is your child currently studying?
                                        <div class="row">
                                            <button class="option-l-btn btn  " ng-click="studyingOption6Change(true)" ng-disabled="studyingOption6">Yes</button>
                                            <button class="option-r-btn btn  " ng-click="studyingOption6Change(false)" ng-disabled="!studyingOption6">No</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row second-row-mobile">
                                    <div class="col-xs-12 col-sm-6 form-heading" ng-hide="studyingOption6">
                                        From which year your child will be attending school?
                                        <div class="row attend-margin">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="schoolYear6Input" name="schoolYear6Input" ng-model="schoolYear6">
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                <div id="schoolYear6Slider" style="margin-top:8px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 form-heading">
                                        How many years your child is going to study at the school (before University)?
                                        <div class="row">
                                            <div class="col-xs-4 col-sm-4">
                                                <div class="form-group">
                                                    <input type="text" onClick="this.select();" class="form-control" id="schoolDuration6Input" name="schoolDuration6Input" ng-model="schoolDuration6">
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-sm-8 form-group slider-common">
                                                <div id="schoolDuration6Slider" style="margin-top:8px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row second-row-mobile">
                                    <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
                                        Which School is your child attending?
                                        <select class="selectpickerSingle selectpicker sp6">
                                            <option ng-repeat="x in schoolObjects" value="{{x.id}}">{{x.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button print-remove class="btn btn-block btn-primary" type="submit" style="width:initial ; margin:0 auto; margin-bottom:10px;">Calculate Result</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row result-head">
                    <h3 class="results-title">Your Results</h3>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="container" style="padding-top:15px;padding-bottom:10px;">
                        </div>
                    </div>
                </div>
                <div class="row disclaimer">
                    <span class="calculator-disclaimer">Information provided by Financial Choice Pty Ltd is general financial advice only. General advice is defined under the new regulations to include information about financial products and financial markets and our current views and outlook for those products and markets. The general advice we provide includes the information you have requested from us directly or via our web site.</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <img src="images/client-logo.png" class="comp-logo" />
                    </div>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 style="text-align:center;" class="modal-title">Your Form Inputs Are Incorrect/Incomplete</h4>
                            </div>
                            <div class="modal-body">
                                <ul class="modal-list">
                                    <li ng-show="forms.ttrForm.firstName.$pristine ">Please provide your first name.</li>
                                    <li ng-show="!forms.ttrForm.firstName.$pristine && forms.ttrForm.firstName.$invalid">Please provide a valid first name.</li>
                                    <li ng-show="forms.ttrForm.lastName.$pristine">Please provide your last name.</li>
                                    <li ng-show="(!forms.ttrForm.lastName.$pristine && forms.ttrForm.lastName.$invalid)">Please provide a valid last name.</li>
                                    <li ng-show="(forms.ttrForm.email.$pristine || forms.ttrForm.email.$invalid)">Please provide a valid email address.</li>
                                    <li ng-show="(forms.ttrForm.mobile.$pristine || forms.ttrForm.mobile.$invalid)">Please provide a valid mobile number.</li>
                                    <li ng-show="forms.ttrForm.postalCode.$invalid">Please provide a valid 4-Digit postal code.</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <h5 style="text-align:center">Please provide the correct inputs to calculate new result, generate the result as PDF and print the result.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row information-overlay" print-hide>
            <div class="col-xs-12 col-sm-12 col-lg-12 ">
                <div class="row info-title">
                    <div class="col-xs-9 col-sm-9 col-lg-9">
                        <h2>Calculator Information</h2>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-lg-3">
                        <button type="button" class="closeInfo" ng-click="infoShow(false)"></button>
                    </div>
                </div>
                <hr class="submit-hr" />
                <div class="row info-content">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <ol>
                            <li>
                                It is assumed that the school fee includes both the upfront application fee as well as the ongoing annual fee.
                            </li>
                            <li>
                                School fee will be indexed at the CPI level.
                            </li>
                            <li>
                                It gives the user to choose from the pre-set investment portfolios or their own nominated portfolio. In the case that the user wants to use their own portfolio, they need to define the net expected rate of return of the investment portfolio.
                            </li>
                            <li>
                                It is assumed that the rate of return we used in the calculation is the net portfolio return after tax and fees.
                            </li>
                            <li>
                                It allows user to aggregate up to five children's data into the calculator.
                            </li>
                            <li>
                                It is assumed the expected present value as at the portfolio start date is the net present value at the time the investor starts contributing to the portfolio.
                            </li>
                            <li>
                                It is assumed that the investor contribute into the portfolio at the end of each year - contribution in arrear.
                            </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/bootstrap-select.min.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {
        $("input").keydown(function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                return false;
            }
        });
        $(".postal-code").keydown(function(event) {
            if (event.keyCode === 38 || event.keyCode === 40) {
                event.preventDefault();
                return false;
            }
        });
        $(".mob-input").keydown(function(event) {
            if (event.keyCode === 38 || event.keyCode === 40) {
                event.preventDefault();
                return false;
            }
        });
    });
    </script>
    <script src="js/ui-bootstrap-tpls-1.3.3.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controller.js" type="text/javascript"></script>
    <script src="js/nouislider.min.js" type="text/javascript"></script>
    <script src="js/wNumb.js" type="text/javascript"></script>
    <script src="bower_components/angularPrint/angularPrint.js" type="text/javascript"></script>
    <script src="js/hc/highcharts.js" type="text/javascript"></script>
    <script src="js/hc/data.js" type="text/javascript"></script>
    <script src="js/hc/exporting.js" type="text/javascript"></script>
    <script src="js/hc/sand-signika.js" type="text/javascript"></script>
    <script src="js/hc/lineChartService.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.16/jspdf.plugin.autotable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta1/html2canvas.js"></script>
    <script src="js/rgbcolor.js" type="text/javascript"></script>
    <script src="js/StackBlur.js" type="text/javascript"></script>
    <script src="js/canvg.min.js" type="text/javascript"></script>
    <script src="js/PdfMaker.js" type="text/javascript"></script>

</body>

</html>
